<div class=" container " [hidden]="!showSuccessCover">
  <div class=" text-center   ">
    <img class="mx-auto d-block" src="../../../assets/check-success.png">
    <h1 class="text-success mt-4">SUCCESS</h1>
  </div>
</div>

<div [hidden]="showSuccessCover">
  <form class="mt-50 container">
    <!-- LBL BUS ID & Loop -->
    <div class="form-group row w-100">
      <p class="font-weight-bold col-8">
        BUS {{shuttleInfo.id === ""? 'Please Enter BUS ID':shuttleInfo.id}}
      </p>
      <p class=" font-weight-bold text-right col-4">
        {{shuttleInfo.loop}}
      </p>
    </div>

    <!-- Stop -->
    <app-loop-stop [formBus]='shuttleInfo' [loopDisplay]='false' [stopDisplay]='true'>

    </app-loop-stop>

    <!-- Time input -->
    <div class=" form-group
    ">
      <label for="timeinput">Time</label>
      <input class="form-control" id="timeinput" aria-describedby="emailHelp"
             name="time"
             [ngModel]="logLine.time | date: 'short'"
      >

    </div>

    <!-- Boarded input -->
    <div class="">
      <label for="boardedinput">Boarded</label>
      <div class="input-group input-group-xl">
        <button class="btn btn-outline-secondary input-group-prepend w-25" type="button"
                (click)="logLine.numberBoarded ==0? 0: logLine.numberBoarded = logLine.numberBoarded-1">
          -
        </button>

        <input class=" input-group-apend form-control text-center" id="boardedinput" [(ngModel)]="logLine.numberBoarded"
               name="boarded">


        <button type="button" class="btn btn-secondary input-group-append w-25"
                (click)="logLine.numberBoarded = logLine.numberBoarded+1">
          +
        </button>

      </div>
    </div>

    <!-- left input -->
    <div class="mb-3">
      <label for="boardedinput">Left at stop</label>
      <div class="input-group  input-group-xl">
        <button class="btn btn-outline-secondary input-group-prepend w-25" type="button"
                (click)="logLine.numberLeft==0? 0: logLine.numberLeft = logLine.numberLeft-1">
          -
        </button>

        <input class=" input-group-apend form-control text-center" id="leftinput" [(ngModel)]="logLine.numberLeft"
               name="left">

        <button type="button" class="btn btn-secondary input-group-append w-25"
                (click)="logLine.numberLeft = logLine.numberLeft+1">
          +
        </button>

      </div>
    </div>

    <!-- BTN Login -->
    <div class="form-group mt-2 ">
      <button type="button" class="btn btn-success w-100 input-group-enter-btn mt-2"
              (click)="onClickEnter()">
        ENTER
      </button>
    </div>

  </form>
</div>
