<form class="mt-1 container">

  <!-- Username input -->
  <div class="form-group">
    <label for="usernameinput">Username</label>
    <input class="form-control" id="usernameinput" aria-describedby="emailHelp" placeholder="Enter Username"
           name="Username"
           [(ngModel)]="login.username"
           [ngClass]="{'is-valid':login.username != ''}"
    >

    <small id="usernamealert" *ngIf="!formValidation.userName" class="form-text text-danger"> username is empty
    </small>
  </div>

  <!-- Password input -->
  <div class="form-group">
    <label for="passwordinput">Password</label>
    <input type="password" class="form-control" id="passwordinput" placeholder="Password" [(ngModel)]="login.password"
           name="Password"
           [ngClass]="{'is-valid':login.password != ''}"
    >
    <small id="passwordalert" *ngIf="!formValidation.password" class="form-text text-danger"> password is empty
    </small>

  </div>

  <!-- Position input -->
  <div class="form-group">
    <label for="Positioninput">Position #</label>
    <input class="form-control" id="Positioninput" [(ngModel)]="login.position" name="position"
           [ngClass]="{'is-valid':login.position != ''}"
    >
    <small id="positonalert" *ngIf="!formValidation.position" class="form-text text-danger"> Position is empty
    </small>

    <!-- Loop & Stop -->

    <app-loop-stop [shuttleInfo]='shuttleInfo' [loopDisplay]='true' [stopDisplay]='true'>

    </app-loop-stop>
  </div>


  <!-- INPUT BUS ID -->
  <div class="form-group">
    <label for="busidinput">Bus ID</label>
    <input class="form-control" id="busidinput" aria-describedby="emailHelp" placeholder="{{shuttleInfo.id}}"
           name="id"
           [(ngModel)]="shuttleInfo.id">
    <small id="busidalert" *ngIf="!formValidation.busID" class="form-text text-danger"> BusID is empty</small>
  </div>

  <!-- Login Error Message -->
  <div class="form-group mb-2">
    <p class="text-danger text-center" *ngIf="displayErrorMessage">{{displayErrorMessage}}</p>
  </div>

  <!-- BTN Login -->
  <div class="form-group">
    <button type="button" class="btn btn-success w-100"
            (click)="onClickLogin()">
      Log In
    </button>
  </div>


</form>


<!--{{login.loop}}-->
