<form class="mt-50 container">

  <!-- Username input -->
  <div class="form-group">
    <label for="busidinput">Bus ID</label>
    <input class="form-control" id="busidinput" aria-describedby="emailHelp" placeholder="{{formBus.id}}"
           name="id"
           [(ngModel)]="formBus.id">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <!-- Loop DDL -->
  <!--
  TODO edit text color
  TODO extract to component
  -->

  <app-loop-stop [shuttleInfo]='shuttleInfo' [loopDisplay]='true'  [stopDisplay]='true'>

  </app-loop-stop>

  <!-- BTN Login -->
  <div class="form-group mt-5">
    <button type="button" class="btn btn-success w-100"
            (click)="onClickUpdate()">
      UPDATE
    </button>
  </div>

</form>


<!--{{login.loop}}-->
