<form class="mt-50 container">

  <!-- Username input -->
  <div class="form-group">
    <label for="busidinput">Bus ID</label>
    <input class="form-control" id="busidinput" aria-describedby="emailHelp"
           name="id"
           [(ngModel)]="formBus.id">
  </div>

  <div class="form-group">
    <label for="busidinput">Bus Driver Name</label>
    <input class="form-control" id="driverNameInput" aria-describedby="emailHelp"
           name="driverName"
           [(ngModel)]="formBus.driverName">
  </div>
  <!-- Loop DDL -->
  <!--
  TODO edit text color
  TODO extract to component
  -->

  <app-loop-stop [formBus]='formBus' [loopDisplay]='true' [stopDisplay]='true'>

  </app-loop-stop>

  <!-- BTN Login -->
  <div class="form-group mt-5">
    <button type="button" class="btn btn-success w-100"
            (click)="onClickUpdate()">
      UPDATE
    </button>
  </div>

</form>


<!--{{login.loop}}-->
